{{!
{
	"title"		: "America's Cup",
	"name"		: "photosite",	
	"resources"	: {
	    "facebook": {
	        "url": "http://proxy.storyteller.io/facebook/americascup/albums",
	        "headers": {
	            "Api-Key": "0276bf3f-b0e7-417a-8871-c79d57511e6a",
	            "Project": "photosite"
		    }
		}
	},	
	"preprocessor": "albums.js"
}
}}

<div class="wrap home">

{{#each resources.facebook.data}}
    
    <div class="box">
	    <a href="/albums/{{this.id}}" ></a>
	    <img src="{{this.previewImage}}">
	    <div class="title">
	    	{{this.name}}
	    </div>
	    <div class="date">{{this.humanTime}}</div>     
    </div>



{{/each}}

</div>
