{{!
{
	"title": "America's Cup",
	"name": "photosite",
	"resources": {
	    "facebook": {
	        "url": "http://proxy.storyteller.io/facebook/{album_id}/photos",
	        "headers": {
	            "Api-Key": "0276bf3f-b0e7-417a-8871-c79d57511e6a",
	            "Project": "photosite"
	        }
	    }
	},
	"preprocessor": "photo.js"
}
}}

<!-- {album_id}/photos/{photo_id}.hbs -->
<section class="wrap">

	<header>
		<h1>America's Cup Photo Gallery</h1>
		<a class="back" href="../">BACK</a>
	</header>

	<main >
	
		<article class="single-image">	  		
	  		<h2>{{resources.currentPhoto.name}}</h2>	  			
	  		
	  		<div class="photo-full">
	  			<img src="{{resources.currentPhoto.previewImage}}">
	  		</div>
	  		
	  		<h3><time datetime="{{resources.currentPhoto.created_time}}">{{resources.currentPhoto.humanTime}}</time></h3>
	  	<article>
	</main>

	<footer>
		<a class="back" href="../">BACK</a>
		<small>BUILT BY ROB GUNGOR</small>
	</footer>
	
</section>
	